hackerha.cloud, www.hackerha.cloud {
	encode gzip zstd

	@blocked path /.env /.env.* /admin
	respond @blocked 404

	reverse_proxy app:1000
}

route /mongo-express/* {
    uri strip_prefix /mongo-express
    reverse_proxy mongo-express:8081
}