hackerha.cloud, www.hackerha.cloud {
	encode gzip zstd

	@blocked path /.env /.env.* /admin
	respond @blocked 404

	reverse_proxy app:1000
}

hackerha.cloud/mongo-express/* {
    uri strip_prefix /mongo-express
    
    # حماية بكلمة مرور
    basicauth {
        {$MONGO_EXPRESS_USER} {$MONGO_EXPRESS_PASSWORD_HASH}
    }
    
    reverse_proxy mongo-express:8081
}